{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{app}} | Miners Online Office</title>
        <style>
            html {
                width: 100%;
                height: 100%;
            }            
            #root, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            .fui-FluentProviderr0 {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
        {% load js %}

        <script type="text/javascript">
            window.app = {{ app | js }};;
            window.miners_office = {
                path_base: "/app/"
            }
        </script>
        <script src="{% static 'index-bundle.js' %}"></script>
    </body>
</html>